// Custom styles.
$scrollbar-width = 4px;

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0
}

::-webkit-scrollbar-button:end:decrement,
::-webkit-scrollbar-button:start:increment {
  display: none
}

::-webkit-scrollbar-corner {
  display: block
}

::-webkit-scrollbar-thumb {
  border-radius: $scrollbar-width;
  background-color: rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb:hover {
  border-radius: $scrollbar-width;
  background-color: rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, .15)
}